{% extends 'encyclopedia/layout.html' %} 
{% block title %} 
  Create New Entry 
{%endblock %}

{% block body %}
<div class="container">
  <div class="row">
    <h1>Create New Wiki Entry</h1>
  </div>

  {% if error %}
    <div class="alert alert-danger" role="alert">
      {{error}}
    </div>
  {% endif %}

  <div class="row">
    <div class="col">
    <form action="{% url 'wiki:create-entry' %}" method="POST">
      {% csrf_token %}
      {{form}}
      <div class="form-group mt-4">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
    </div>
  </div>
</div>
{% endblock %}
